
#hideMe {
    -webkit-animation: cssAnimation 2s forwards; 
    animation: cssAnimation 2s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;display: none;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;display: none;}
}
.message{
    height: auto; background: #1b2e4b; margin:0px 200px; border-radius: 10px; width: 800px;padding: 10px;
    position: absolute; color: white;z-index: 999;
}
.message1{
      height: auto; background: #1b2e4b; border-radius: 10px; width: auto;padding: 10px; color:#D00844;
}
.icon{
    border-radius: 100%; background: #1EB629; padding:5px 8px;
}
.alerts{
    border:1px solid green; background:green;  color:white; position: fixed; top: 80px; right: 50px; z-index:999999999; height:50px; width:auto;
}
.cke_blog_text{
    width: 100%;
}

.bg_hover:hover{
    padding: 1px;
}
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.on_hover:hover{
    background-color: rgba(59, 63, 92, 0.45);
}
.on_hover{
    padding: 5px 10px;
    border-radius: 5px;
}
#loader_css {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width: 767px) {
.hidden_mobile {
  display: none;
}